#side-block {
    z-index  : -100;
    top      : 0;
    position : absolute;
    height     : 100vh;
}

#title {
    font-weight  : 600;
    font-size    : 12em;
}

#sub-title {
    position : absolute;
    top      : 60vh;
}

#nav-block {
    position  : fixed;
    top       : 0;
}
#home-nav {
    position  : fixed;
    top       : 0;
    cursor    : pointer;
}
#home-nav .tabs .indicator {
    color            : #F44336;
    background-color : #F44336;
}

.h-fill-12, .h-fill, .fill { width : 100vw; }
.h-fill-11 { width : calc(100vw * (11 / 12)) }
.h-fill-10 { width : calc(100vw * (10 / 12)) }
.h-fill-9 { width : calc(100vw * (9 / 12)) }
.h-fill-8 { width : calc(100vw * (8 / 12)) }
.h-fill-7 { width : calc(100vw * (7 / 12)) }
.h-fill-6 { width : calc(100vw * (6 / 12)) }
.h-fill-5 { width : calc(100vw * (5 / 12)) }
.h-fill-4 { width : calc(100vw * (4 / 12)) }
.h-fill-3 { width : calc(100vw * (3 / 12)) }
.h-fill-2 { width : calc(100vw * (2 / 12)) }
.h-fill-1 { width : calc(100vw * (1 / 12)) }

.v-fill-12, .v-fill, .fill { height : 100vh; }
.v-fill-11 { height : calc(100vh * (11 / 12)) }
.v-fill-10 { height : calc(100vh * (10 / 12)) }
.v-fill-9 { height : calc(100vh * (9 / 12)) }
.v-fill-8 { height : calc(100vh * (8 / 12)) }
.v-fill-7 { height : calc(100vh * (7 / 12)) }
.v-fill-6 { height : calc(100vh * (6 / 12)) }
.v-fill-5 { height : calc(100vh * (5 / 12)) }
.v-fill-4 { height : calc(100vh * (4 / 12)) }
.v-fill-3 { height : calc(100vh * (3 / 12)) }
.v-fill-2 { height : calc(100vh * (2 / 12)) }
.v-fill-1 { height : calc(100vh * (1 / 12)) }

.marginless {
    margin : 0;
}

.inherit-color {
    background-color : inherit;
}

.back {
    z-index : -1000;
}

.inline {
    display : inline;
}

ul.inline li {
    display       : inline;
    padding-left  : 1em;
    padding-right : 1em;
}

.pointer {
    cursor : pointer;
}

.hover:hover, .hover i:hover, .hover li:hover, .hover a:hover {
    color              : #F44336 !important;
    -webkit-transition : color 200ms;
    transition         : color 200ms;
}
