---
---

$background: #000000;
$foreground: #FFFFFF;
$secondary:  #e3e3e3;
$accent:     #F44336;

$primary-color: $accent;

.content {
    font-size: 1.2em;
    overflow-y: auto;
}

h1 code,
h2 code,
h3 code,
h4 code,
h5 code,
h6 code {
    background-color: inherit;
    color: inherit !important;
}

.special {
    color: $accent;
    font-weight: bold;
}

p, h2, h3, h4, h5, h6 {
    color: $background;
}

.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
    font-family: 'Fira Mono';
}
h1 {
    color: $accent;
}

.content a {
    color: $primary-color !important;
}
.timeline-icon {
    background-color: $primary-color !important;
}
.nav-item.active {
    border-left: 2px solid $primary-color;
}

#top-nav {
    background-color:#fff;
    width:100%;
    opacity:1;
    z-index:100;
    top:0;
    padding-top:10px;
}

#side-nav {
    overflow-y: auto !important;
    overflow-x: auto !important;
    height: calc(100% - 20px) !important;
    a:hover {
        color: $primary-color;
    }
}
// http://enjoycss.com/gallery/text_effects/dZ
.anaglyph {
    text-overflow: clip;
    text-shadow: -1px 0 1px rgb(30,242,241), 1px 0 1px rgb(246,5,10);
}
img.anaglyph {
  filter: drop-shadow(-1px 0 1px rgb(30,242,241)), drop-shadow(1px 0 1px rgb(246,5,10));
}

hr {
    border-top: .2rem solid #f0f1f4;
    width: 100%;
}